@import url('https://fonts.googleapis.com/css?family=Poppins');

.content{
  font-family: poppins;
}

.shadow-link {
  color: black;
  text-decoration: none;
}
.shadow-link-gray {
  color: rgba(0,0,0,.55);
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}